html,
body,
    {
    font-family: "微软雅黑", Arial, sans-serif;
    font-size: 12px;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

div,
ul,
li {
    margin: 0;
    padding: 0;
}

.container {
    height: 100%;
    max-width: 100%;
    margin: 0;
    padding: 0;
   
}

.header {
    margin: 0;
}

h1 {
    background: #0f74f1;
    color: #fff;
    font-size: 1.5em;
    margin: 10px;
    text-align: center;
    height: 1.8em;
    line-height: 1.7em;
}

.search {
    margin: 10px 5px;
    line-height: 30px;
}

input {
    font-size: 1.5em;
    height: 1.7em;
    width: 98%;
    margin-left: 10px;
}

.icon-menu {
    color: #fff;
    z-index: 5;
    font-size: 1.8em;
    float: left;
    top:0.55em;
    left:0.7em;
    position: absolute;
}

.content {
    position: relative;
    flex: 1;
    height: 90%;
    width: 100%;
    margin: 0;
    padding: 0;
    bottom: 0;
 
}

#map {
    position: absolute;
    height: 90%;
    width: 98%;
    top: 0;
    bottom: 0;
    right: 10px;
}

.list-box {
    position: absolute;
    height: 90%;
    line-height: 30px;
    text-align: left;
    width: 4.5em;
    top: 0;
    padding: 0 0 0 35px;
    background: #fff;
    color: #0f74f1;
    opacity:0.8;
    filter:alpha(opacity=80);
    z-index: 3;
    transform: translate3d(0, 0, 0);
    transition: transform 0.2s;
}
.menu-hide .list-box {
    transform: translate3d(-12em,0,0);
    transition: transform 0.2s;
}
.list-box ul {
    margin: 10px;
}

@media screen and (min-width: 520px) {
.icon-menu {display: none;}
}